<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ntk.base.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="activity.auth.ActAuth"></activity>
        <activity android:name="activity.core.ActCreateFilterModel" />
        <activity android:name="activity.blog.ActTagList" />
        <activity android:name="activity.blog.ActContentView" />
        <activity android:name="activity.blog.ActContentSimilarList" />
        <activity android:name="activity.blog.ActContentOtherInfoList" />
        <activity android:name="activity.blog.ActContentList" />
        <activity android:name="activity.blog.ActContentFavoriteList" />
        <activity android:name="activity.blog.ActBlogContentFavoriteAddOrRemove" />
        <activity android:name="activity.blog.ActContentCategoryList" />
        <activity android:name="activity.blog.ActCommentView" />
        <activity android:name="activity.blog.ActCommentList" />
        <activity android:name="activity.blog.ActCommentAdd" />
        <activity android:name="activity.blog.ActCategoryTagList" />
        <activity android:name="activity.estate.ActPropertyView" />
        <activity android:name="activity.estate.ActPropertyType" />
        <activity android:name="activity.estate.ActPropertyList" />
        <activity android:name="activity.estate.ActPropertyFavoriteList" />
        <activity android:name="activity.estate.ActPropertyFavoriteAddOrRemove" />
        <activity android:name="activity.estate.ActPropertyDetailList" />
        <activity android:name="activity.estate.ActPropertyDetailGroupList" />
        <activity android:name="activity.estate.ActPropertyAdd" />
        <activity android:name="activity.estate.ActContractType" />
        <activity android:name="activity.movieGallery.ActTagList" />
        <activity android:name="activity.movieGallery.ActContentView" />
        <activity android:name="activity.movieGallery.ActContentSimilarList" />
        <activity android:name="activity.movieGallery.ActContentOtherInfoList" />
        <activity android:name="activity.movieGallery.ActContentList" />
        <activity android:name="activity.movieGallery.ActContentFavoriteList" />
        <activity android:name="activity.movieGallery.ActContentFavoriteAddOrRemove" />
        <activity android:name="activity.movieGallery.ActContentCategoryList" />
        <activity android:name="activity.movieGallery.ActCommentView" />
        <activity android:name="activity.movieGallery.ActCommentList" />
        <activity android:name="activity.movieGallery.ActCommentAdd" />
        <activity android:name="activity.movieGallery.ActCategoryTagList" />
        <activity android:name="activity.movieGallery.ActCategoryList" />
        <activity android:name="activity.movieGallery.ActMovieGallery" />
        <activity android:name="activity.musicGallery.ActTagList" />
        <activity android:name="activity.musicGallery.ActContentView" />
        <activity android:name="activity.musicGallery.ActContentSimilarList" />
        <activity android:name="activity.musicGallery.ActContentOtherInfoList" />
        <activity android:name="activity.musicGallery.ActContentList" />
        <activity android:name="activity.musicGallery.ActContentFavoriteList" />
        <activity android:name="activity.musicGallery.ActContentFavoriteAddOrRemove" />
        <activity android:name="activity.musicGallery.ActContentCategoryList" />
        <activity android:name="activity.musicGallery.ActCommentView" />
        <activity android:name="activity.musicGallery.ActCommentList" />
        <activity android:name="activity.musicGallery.ActCommentAdd" />
        <activity android:name="activity.musicGallery.ActCategoryTagList" />
        <activity android:name="activity.musicGallery.ActCategoryList" />
        <activity android:name="activity.musicGallery.ActMusicGallery" />
        <activity android:name="activity.imageGallery.ActTagList" />
        <activity android:name="activity.imageGallery.ActContentView" />
        <activity android:name="activity.imageGallery.ActContentSimilarList" />
        <activity android:name="activity.imageGallery.ActContentOtherInfoList" />
        <activity android:name="activity.imageGallery.ActContentList" />
        <activity android:name="activity.imageGallery.ActContentFavoriteList" />
        <activity android:name="activity.imageGallery.ActContentFavoriteAddOrRemove" />
        <activity android:name="activity.imageGallery.ActContentCategoryList" />
        <activity android:name="activity.imageGallery.ActCommentView" />
        <activity android:name="activity.imageGallery.ActCommentList" />
        <activity android:name="activity.imageGallery.ActCommentAdd" />
        <activity android:name="activity.imageGallery.ActCategoryTagList" />
        <activity android:name="activity.imageGallery.ActCategoryList" />
        <activity android:name="activity.file.ActGetContentList" />
        <activity android:name="activity.service.ActService" />
        <activity android:name="activity.product.ActProduct" />
        <activity android:name="activity.imageGallery.ActImageGallery" />
        <activity android:name="activity.blog.ActCategoryList" />
        <activity android:name="activity.blog.ActBlog" />
        <activity android:name="activity.application.ActIntro" />
        <activity android:name="activity.file.ActFile" />
        <activity android:name="activity.estate.ActEstate" />
        <activity android:name="activity.core.ActUserRegister" />
        <activity android:name="activity.core.ActUserMobileConfirm" />
        <activity android:name="activity.core.ActUserLoginByMobile" />
        <activity android:name="activity.core.ActUserLogin" />
        <activity android:name="activity.core.ActUserForgetPassword" />
        <activity android:name="activity.core.ActUserEmailConfirm" />
        <activity android:name="activity.core.ActUserChangePassword" />
        <activity android:name="activity.core.ActLocation" />
        <activity android:name="activity.core.ActRegisterWithMobile" />
        <activity android:name="activity.application.ActApplication" />
        <activity android:name="activity.news.ActContentCategoryList" />
        <activity android:name="activity.news.ActContentSimilarList" />
        <activity android:name="activity.article.ActContentCategoryList" />
        <activity android:name="activity.article.ActContentSimilarList" />
        <activity android:name="activity.biography.ActContentWithSimilarDatePeriodStartMonthOfYearList" />
        <activity android:name="activity.biography.ActContentWithSimilarDatePeriodStartList" />
        <activity android:name="activity.biography.ActContentWithSimilarDatePeriodStartDayOfYearList" />
        <activity android:name="activity.biography.ActContentWithSimilarDatePeriodStartDayAndMonthOfYearList" />
        <activity android:name="activity.biography.ActContentWithSimilarDatePeriodEndList" />
        <activity android:name="activity.biography.ActContentWithDatePeriodStartList" />
        <activity android:name="activity.biography.ActContentWithDatePeriodEndList" />
        <activity android:name="activity.biography.ActContentSimilarList" />
        <activity android:name="activity.biography.ActContentCategoryList" />
        <activity android:name="activity.biography.ActGetContentFavoriteList" />
        <activity android:name="activity.biography.ActSetContentFavoriteAddOrRemove" />
        <activity android:name="activity.biography.ActGetCommentView" />
        <activity android:name="activity.biography.ActSetComment" />
        <activity android:name="activity.biography.ActGetCommentList" />
        <activity android:name="activity.biography.ActGetContentOtherInfoList" />
        <activity android:name="activity.biography.ActGetCategoryTagList" />
        <activity android:name="activity.biography.ActGetCategoryList" />
        <activity android:name="activity.biography.ActGetTagList" />
        <activity android:name="activity.biography.ActGetContentView" />
        <activity android:name="activity.biography.ActBiography" />
        <activity android:name="activity.biography.ActGetContentList" />
        <activity android:name="activity.core.ActGetResponseMain" />
        <activity android:name="activity.core.ActGetAbout" />
        <activity android:name="activity.core.ActCore" />
        <activity android:name="activity.news.ActGetContentFavoriteList" />
        <activity android:name="activity.news.ActSetContentFavoriteAddOrRemove" />
        <activity android:name="activity.news.ActGetCommentView" />
        <activity android:name="activity.news.ActSetComment" />
        <activity android:name="activity.news.ActGetCommentList" />
        <activity android:name="activity.news.ActGetContentOtherInfoList" />
        <activity android:name="activity.news.ActGetCategoryTagList" />
        <activity android:name="activity.news.ActGetCategoryList" />
        <activity android:name="activity.news.ActGetTagList" />
        <activity android:name="activity.news.ActGetContentView" />
        <activity android:name="activity.news.ActGetNewsContentList" />
        <activity android:name="activity.ticketing.ActTicket" />
        <activity android:name="activity.ticketing.ActGetTicketDepartman" />
        <activity android:name="activity.ticketing.ActGetTicketAnswerList" />
        <activity android:name="activity.ticketing.ActGetTicketAnswerSubmit" />
        <activity android:name="activity.ticketing.ActSetTicketSubmit" />
        <activity android:name="activity.ticketing.ActGetTicketFaqList" />
        <activity android:name="activity.ticketing.ActGetTicketList" />
        <activity android:name="activity.pooling.ActPooling" />
        <activity android:name="activity.pooling.ActSetSubmitPooling" />
        <activity android:name="activity.pooling.ActGetCategoryList" />
        <activity android:name="activity.pooling.ActGetContentList" />
        <activity android:name="activity.news.ActNews" />
        <activity android:name="activity.article.ArticleContentFavoriteListActivity" />
        <activity android:name="activity.article.ArticleCommentViewActivity" />
        <activity android:name="activity.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="activity.article.ActArticle" />
        <activity android:name="activity.article.GetArticleContentList" />
        <activity android:name="activity.article.GetArticleContentView" />
        <activity android:name="activity.article.GetArticleTagList" />
        <activity android:name="activity.article.GetArticleCategoryList" />
        <activity android:name="activity.article.GetArticleCategoryTagList" />
        <activity android:name="activity.article.GetArticleContentOtherInfoList" />
        <activity android:name="activity.article.GetArticleCommentList" />
        <activity android:name="activity.article.GetArticleCommentAdd" />
        <activity android:name="activity.article.GetArticleContentFavoriteAddOrRemove" />
    </application>

</manifest>